<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    Create Account
    <br>
    <br>
    <form method="POST"> 
        <label>username</label>
        <input type="text" name="username">
        <br>
        <br>
        <label class="label">password</label>
        <input class="input--style-4" type="text" name="password">
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>